.pagination {
    justify-content: center;
    padding: 24px 0;
    .page-item {
        padding: 0 12px;
    }
    .page-link {
        border: none;
    }
    .page-link:hover, .page-link:focus {
        background: none;
        box-shadow: none;
    }
}