.not-found-container {
    margin-top: 10%;
    text-align: center;
    .not-found-img {
        width: 200px;
        margin-bottom: 10px;
    }
    h1 {
        margin-bottom: 20px;
    }
}