@import './variables';

.main-title {
    font-size: $font-18;
    font-family: $roboto-bold;
    font-weight: bold;
}

.main-sub-title {
    font-size: $font-18;
    font-family: $roboto;
}