// Color System
$white: #FFFFFF;
$black: #000000;
$grey: #EDEDED;
$darkGrey: #4A4A4A;
$orange: #EA7F28;
$darkOrange: #D37324;
// Color System

// Override bootstrap
$primary: $orange;
// Override bootstrap


// Text color
$text-color: $darkGrey;
// Text Color

// Border color
$border-color: $grey;
// Border color

// Line/Hover Color
$line-color: $orange;
$line-hoverColor: $darkOrange;
// Line/hover Color

// Button dimensions
$btn-width: 128px;
$btn-height: 32px;
// Button dimensions

// spacings
$space-0: 0;
$space-8: 8px;
$space-12: 12px;
$space-24: 24px;
// spacings