@import '../../styles/variables';

.logo {
    max-width: 85%;
}
.navbar-light .navbar-nav .nav-link {
    margin: 0 15px;
    color: $darkGrey;
}
.navbar {
    border-bottom: 1px solid $border-color;
    height: 80px;
}